<div class="home__container">
  <app-card
  gamePhoto="/assets/baldursgate3.avif"
  gameType="PS5"
  gameLabel="Must-play"
  gamePrice="R$ 299,90"
  ></app-card>

  <app-card
  gamePhoto="/assets/spiderman2.avif"
  gameType="PS5"
  gameLabel="Deluxe"
  gamePrice="R$ 399,50"
  ></app-card>

  <app-card
  gamePhoto="/assets/2k24.avif"
  gameType="PS4 | PS5 "
  gameLabel="Black Mamba"
  gamePrice="R$ 499,50"
  ></app-card>

  <app-card
  gamePhoto="/assets/fc24.avif"
  gameType="PS4 | PS5 "
  gameLabel="Ultimate Edition"
  gamePrice="R$ 528,50"
  ></app-card>

</div>

